<!DOCTYPE html>
<html>
	<head>
		<img src="images/header.gif" class="center" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h2>Weekly Median: $median</h2>
		<h2>Most Points: $max</h2>
		<h2>Flex Winner: $max_flex</h2>
		<div class="container">
			<div class="column column-one">
				<img src="images/left.jpg" />
			</div>
			<div class="column column-two">
			$table
		</div>
		<div class="column column-three">
				<img src="images/right.png" />
    </div>
	
	</body>
</html>
